<h1>Account</h1>

<p>Welcome, <%- accountData.account_firstname %></p>

<div class="custom-container">
  <ul>
    <li><a href="/account/update">Edit Account</a></li>
    <li><a href="/inv">Manage Inventory</a></li>
  </ul>
</div>