<section class="error-container">
    <h1>Internal Server Error - Code 500</h1>
    <p>The server encountered something unexpected that didn't allow it to complete the request.</p>
    <p>We apologize for the inconvenience.</p>
    <a href="/" class="home-link">Go Back to Home</a>
</section>